*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
}

.divider {
    margin: 20px 0;
    border-bottom: 1px solid #d5d5d5;
}

:root{
    --p-tabs-active-bar-background: #000 !important;
}


.p-drawer{
    width: 30% !important;
   

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        font-size: 1.1em;
    }


    .p-drawer-header{
        position: relative;

        .p-button-text:hover{
            background-color: transparent !important;
        }

        .p-drawer-close-button{
            width: unset;
        }
    }

    .p-drawer-header::after{
        content: '';
        position: absolute;
        width: 90%;
        height: 1px;
        background-color: #d5d5d5;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .file_prev{
        border-bottom: 1px solid #d5d5d5;
        padding: 20px 20px 40px 20px;
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.p-fileupload-choose-button{
    background-color: #000 !important;
    border-color: #000 !important;
}

.loading_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}